#!/usr/bin/env bash

# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh
# Path to oh-my-zsh custom directory
export ZSH_CUSTOM=$HOME/.zsh_custom/

source "$ZSH_CUSTOM/.zshrc.default_values"

# if you want to override variables like $ZSH_THEME in .zshrc.default_values,
# do it here, before running oh-my-zsh.sh

source $ZSH/oh-my-zsh.sh
